.container-deck {
  position: fixed;
  top: 5%;
  left: 10%;
  transform: translate(-40%, -40%);
}

.deck {
  position: relative;
  width: 4rem;
  min-height: 6rem;
  transition: height 0.3s ease-in-out;
}

.stacked-card {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(calc(var(--i) * 3px));
  z-index: calc(100 - var(--i)); 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
