.container-deck {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deck {
  position: relative;
  width: 6rem;
  min-height: 8rem;
  transition: height 0.3s ease-in-out;
}

.stacked-card {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(calc(var(--i) * 3px));
  z-index: calc(100 - var(--i)); /* Ensure top card is always on top */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
