:root {
  --primary-colors: linear-gradient(
    120deg,
    hsl(0, 57%, 37%),
    hsl(40, 53%, 39%),
    hsl(90, 60%, 35%),
    hsl(210, 57%, 39%),
    hsl(280, 55%, 31%)
  );
   
}

.card-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  position: absolute;
  z-index: 3;
  top: 1%;
  justify-content: center;
  perspective: 800px;
}

.player-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  position: absolute;
  gap: 20;
  z-index: 3;
  bottom: -5%;
  justify-content: center;
  perspective: 800px;
}



.card {
  width: 164px;
  height: 242px;
  perspective: 1000px; 
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}


.flipped {
  transform: rotateY(180deg);
}

.front-side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 6px solid #142426;
}


.back-side {
  backface-visibility: hidden;
  transform: rotateY(180deg); 
  left: 0;
  width: 100%;
  height: 100%;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
   box-shadow: inset 0.3em 0.3em 0.3em 0 rgba(255, 255, 255, 0.5),
    inset -0.2em -0.2em 0.3em 0 rgba(0, 0, 0, 0.8), 2px 3px 4px #4d413c;
}

.card-title {
  color: white;
  font-size: 0.65rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.icon {
  width: 16px;
  height: 16px;
  background-color: #27272a;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-text {
  color: white;
  font-size: 0.5rem;
}

.card-type {
  text-align: end;
  color: white;
}

.card-image {
  height: 90px;
  background-color: white;
  border-radius: 4px;
  border: 4px solid #142426;
  margin-bottom: 4px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-description p {
  font-size: 0.5rem;
}

.card-description {
  position: relative;
  color: #3f3f46;
  border: 4px solid #732509;
  padding: 2px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.card-description::before,
.card-description::after,
.card-description span::before,
.card-description span::after {
  content: '';
  position: absolute;
  width: 6px; 
  height: 6px;
  background-color: #BF7245; 
  border-radius: 10%;
}

.card-description::before {
  top: -4px;
  left: -4px;
}

.card-description::after {
  top: -4px;
  right: -4px;
}

.card-description span::before {
  bottom: -4px;
  left: -4px;
}

.card-description span::after {
  bottom: -4px;
  right: -4px;
}



/*Playin Field*/
.field-mat {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, #a8d0e6, #f0f5f9);  */
  /* border: 2px solid #ccc;  */
  padding: 4px;
}

.opponent-side {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 10.15vw);
  grid-template-columns: repeat(5, 5vw);
  column-gap: 4vw;
  row-gap: 0.7vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  transform: rotate(180deg);
}

.player-side {
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 5vw);
  grid-template-rows: repeat(2, 10.15vw);
  column-gap: 4vw;
  row-gap: 0.7vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
